* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.Sec1 {
    margin-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

#Contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#texto {
    border-left: 2px solid blueviolet;
}

#image {
    border: 2px solid red;
    width: 80px;
    height: 80px;
}

#span1 {
    font-weight: bold;
    color: aqua;
}

#span2 {
    color: blueviolet;
    font-weight: bold;
}

h1 {
    font-weight: lighter;
}
#Contenedor2{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: nowrap;
}